---
import "./CupcakeMenu.less";
import "./CupcakeItem.less";
const images = await Astro.glob("../../assets/images/cupcakes/*").then(
	(files) => {
		return files.map((file) => file.default);
	}
);
//import { getDataFromImage } from "../../assets/data/cupcakeMenu";
import cupcakeMenuJSON from "../../assets/data/cupcakeMenu.json";
import { cupcakeMenu } from "../../assets/data/cupcakeMenu";
---

<section id="cupcakes-all">
	<div class="cs-container">
		<div class="cs-gallery">
			{
				images.map((image) =>
					cupcakeMenuJSON.map(
						(cupcake) =>

							image.includes(cupcake.imgUrl) && (
								
								<p>{image}</p>
							)
					)
				)
			}
		</div>
	</div>
</section>
