---
import './Hero.less';
---
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-998">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-content-h1">
                The finest cupcake factory in Saigon
            </h1>
            <a href="#contact-us" class="cs-button-solid">Visit our bakery</a>
        </div>
    </div>
    <!--Background Image-->
    <!--Image is also set as background image in CSS at 1400px for parallax effect-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://images.squarespace-cdn.com/content/v1/56416bdde4b0e386da49c02b/1685651693455-5U3HYW6ZYYW1MHJ586V7/dreamsicle_cupcakes_2023.jpg">
        <source media="(min-width: 601px)" srcset="https://images.squarespace-cdn.com/content/v1/56416bdde4b0e386da49c02b/1685651693455-5U3HYW6ZYYW1MHJ586V7/dreamsicle_cupcakes_2023.jpg">
        <img decoding="async" src="https://images.squarespace-cdn.com/content/v1/56416bdde4b0e386da49c02b/1685651693455-5U3HYW6ZYYW1MHJ586V7/dreamsicle_cupcakes_2023.jpg" alt="logo" width="1920" height="1000">
    </picture>
</section>
                                