---
import SimpleNavigation from "../components/SimpleNavigation.astro/SimpleNavigation.astro";
import Hero from '../components/Hero/Hero.astro';
import MenuList from '../components/MenuList/MenuList.astro';
import SBSReverse from '../components/SBSReverse/SBSReverse.astro';
import '../styles/root.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<SimpleNavigation />
		<Hero />
		<SBSReverse />
		<MenuList />
	</body>
</html>
